/* Generic styles */
.container__form-ui {
    display: block;
    height: 3.5rem;
    margin-bottom: 10%;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
/* end of generic form styles */



/* sign-in-and-up/sign-in.html styles*/
.container__form-ui--input {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;

    text-indent: 3rem;
}

.container__form-ui--username {
    background-image: url("../sign-in-and-up/images/name/name1-30px.jpg");
    background-repeat: no-repeat;
    background-position: 1.0rem 0.6rem;
}

.container__form-ui--password {
    background-image: url("../sign-in-and-up/images/password/password2-30px.jpg");
    background-repeat: no-repeat;
    background-position: 1.0rem 0.6rem;
}

.container__form-ui__check {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 5%;
}

.container__form-ui--submit {
    text-indent: 0rem; /* overides the text indent above */
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    width: 40%;
}
/* end of sign-in-and-up/sign-in.html styles*/
