
/* sign-in-and-up/sign-in.html styles*/
.container__company-logo {
    display: block;
    margin-top: 5%;
    margin-bottom: 10%;
    
    margin-left: auto;
    margin-right: auto;

    max-width: 100%;
}
/* end of sign-in-and-up/sign-in.html styles*/

