/* Geneic styles(applies to all pages) */
html {
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

.container {
    margin-top: 0%;
    background-color: black;
    background-image: linear-gradient(to top,black 85%,white);
    min-width: 250px;
}

/* end of generic styles */

/* sign-in-and-up/sign-in.html styles*/

/* end of sign-in-and-up/sign-in.html styles*/