/* Geneic styles(applies to all pages) */
html {
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

.container {
    width: 70vw;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    background-image: linear-gradient(to top,black 85%,white);

    /* border-style:solid;
    border-color: black; */
}

/* end of generic styles */

/* sign-in-and-up/sign-in.html styles*/

/* end of sign-in-and-up/sign-in.html styles*/